doctype html
html
    head
        meta(charset='utf-8')
        title #{title} - Wahl-Informationssystem zur Bundestagswahl
        link(rel='stylesheet', href='/css/wahlschein.css')
    body
        form(action="/auth", method="POST")
            header
                #titles
                    h1 Error
                    h2= error

                a(href="/vote") Zur&uuml;ck zum Login
