doctype html
html
    head
        meta(charset='utf-8')
        title #{title} Wahl-Informationssystem zur Bundestagswahl
        link(rel='stylesheet', href='/css/chartist.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')

        block js-includes
    body
        header
            a.logo(href='/')
                img(src='/img/logo.svg', alt='Wahl-Informationssystem zur Bundestagswahl')

            h1='Wahl-Informationsssystem zur Bundestagswahl'
            aside#currentInformation
                div.info
                a#voteOnline.btn(href='/vote') W&auml;hlen
        nav#yearNav.year-nav
            ul
                li
                    a(class= (year == 2009) ? 'active' : '', href= req && req.url ? req.url.substr(0, req.url.substr(1).indexOf('/') + 1) + '/2009' : '/overview/2009') 2009
                li
                    a(class= (year == 2013) ? 'active' : '', href= req && req.url ? req.url.substr(0, req.url.substr(1).indexOf('/') + 1) + '/2013' : '/overview/2013') 2013
        nav#queryNav.query-nav
            ul
                li.with-subnav.active
                    ul
                        li
                            a(href='/seat-distribution/' + (year || '')) Sitzverteilung
                        li
                            a(href='/delegates/' + (year || '')) Abgeordnete
                        li
                            a(href='/wahlkreise/' + (year || '')) Wahlkreis&uuml;bersicht
                        li
                            a(href='/wahlkreise/' + (year + '/' || '') + 'winners/') Wahlkreis-Sieger
                        li
                            a(href='/ueberhangmandate/' + (year || '')) &Uuml;berhangmandate
                        li
                            a(href='/closest-winners/' + (year || '')) Knappste Sieger
                        li
                            a(href='/impressum/') Impressum
        main
            block content
