extends base

block js-includes
    script(src="/js/jquery-latest.js")
    script(src="/js/jquery.tablesorter.min.js")
    script.
        $(document).ready(function() {
            $("table").tablesorter();
        });

block content
    h2= title
    table
        thead
            tr
                th Partei
        tbody
        each row in data
            tr
                td
                    a(href=encodeURI('/closest-winners/' + year + '/' + row.p_shorthand))
                        = row.p_name
