extends base

block content
    h1=unescape('%DCberhangsmandate ') + year
    ul.ueberhangsmandate
        each uhm in data
            li
                span= uhm.p_name
                span= uhm.fs_name
                span= uhm.mandates
