doctype html
html
    head
        meta(charset='utf-8')
        title Wahl-Informationssystem zur Bundestagswahl
        link(rel='stylesheet', href='/css/wahlschein.css')
    body
        div.card
            header
            #titles.titles
                h1 Bundestagswahl 2013
            br
            br
            h3 Vielen Dank für Ihre Stimme.
